@using MyProject.Web.Models.Common.Modals
@using MyProject.Web.Models.Products
@using static MyProject.Categories.Category
@model ProductViewModel

@{
	Layout = null;
}

<div class="modal fade" id="ProductCreateModal" tabindex="-1" role="dialog" aria-labelledby="ProductCreateModalLabel" data-backdrop="static">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewProduct")))

			<form name="productCreateForm" role="form" class="form-horizontal">
				<div class="modal-body">
					<div class="form-group row mb-3 required">
						<label class="col-md-3 col-form-label fw-bold">@L("ProductName")</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="Name" required maxlength="256" placeholder="Nhập tên sản phẩm...">
						</div>
					</div>

					<div class="form-group row mb-3 required">
						<label class="col-md-3 col-form-label fw-bold">@L("Description")</label>
						<div class="col-md-9">
							<textarea class="form-control" name="Description" required maxlength="500" rows="3" placeholder="Nhập mô tả sản phẩm..."></textarea>
						</div>
					</div>

					<div class="form-group row mb-3 required">
						<label class="col-md-3 col-form-label fw-bold">@L("Price")</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="Price" required  placeholder="Nhập giá sản phẩm...">
						</div>
					</div>

					<div class="form-group row mb-3 required">
						<label class="col-md-3 col-form-label fw-bold">@L("State")</label>
						<div class="col-md-9">
							<select class="form-control" name="State" id="State" required>
								<option value="" selected disabled>-- Chọn trạng thái --</option>
								<option value="0">Còn hàng</option>
								<option value="1">Hết hàng</option>
								<option value="2">Ngừng kinh doanh</option>
							</select>
						</div>
					</div>

					<div class="form-group row mb-3 required">
						<label class="col-md-3 col-form-label fw-bold">@L("Categories")</label>
						<div class="col-md-9">
							<select class="form-control" name="CategoryId" id="CategoryId" required>
								<option value="" selected disabled>-- Chọn danh mục --</option>
								@foreach (var item in Model.CategoryLists)
								{
									<option value="@item.Id">@item.CategoryName</option>
								}
							</select>
						</div>
					</div>

					<div class="row mb-3 form-group">
						<label class="col-md-3 col-form-label fw-bold">@L("ProductImage")</label>
						<div class="col-md-9">
							<div class="d-flex align-items-center">
								<div class="border rounded shadow-sm p-2 text-center"
										 style="width: 200px; height: 100px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
									<img id="previewImage" src="img/Sliders/20250310145915_2558b43182dd4768b2a1e6301dce7f08.png"
											 class="img-fluid rounded"
											 style="max-width: 100%; height: auto; object-fit: cover;">
								</div>
								<div class="ms-3 m-5">
									<input type="file" id="imageUpload" class="d-none" name="ImageFile" accept="image/*">
									<label for="imageUpload" class="btn btn-outline-primary">
										<i class="fas fa-upload"></i> Chọn ảnh
									</label>
									<div id="imageError" class="text-danger mt-2"></div> <!-- Thông báo lỗi -->
								</div>
							</div>
						</div>
					</div>
				</div>

				@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
			</form>
		</div>
	</div>
</div>
