@model MyProject.Web.Models.Orders.OrderViewSuccess

@{
	ViewData["Title"] = "Chi tiết đơn hàng";
}

@{
	var statusClass = Model.Order.OrderStatus == 4 ? "text-success" :  // Hoàn thành - Xanh lá
										Model.Order.OrderStatus == 3 ? "text-danger" :   // Đã hủy - Đỏ
										Model.Order.OrderStatus == 2 ? "text-primary" :  // Đang giao hàng - Xanh dương
										Model.Order.OrderStatus == 1 ? "text-warning" :  // Đã xác nhận - Vàng
										"text-muted";                                    // Chờ xử lý - Xám
}

<link href="/css/detailOrder.css" rel="stylesheet" />

<div class="container" style="margin-top: 14px;">
	<!-- Tiêu đề đơn hàng -->
	<div class="order-title-detail">
		<p class="fw-bold order-title">
			<span>Chi tiết đơn hàng #@Model.Order.Id -</span>
			<span class="text-bold @statusClass">
				@(Model.Order.OrderStatus == 4 ? "Hoàn thành" :
								Model.Order.OrderStatus == 3 ? "Đã hủy" :
								Model.Order.OrderStatus == 2 ? "Đang giao hàng" :
								Model.Order.OrderStatus == 1 ? "Đã xác nhận" :
								"Chờ xử lý")
			</span>
		</p>
		<p class="text-muted order-time ">Đặt lúc: @Model.Order.CreationTime.ToString("HH:mm - dd/MM/yyyy")</p>
	</div>
	<p style="font-size: 14px; color: #d0021c">Lý do hủy:</p>


	<!-- Thông tin người nhận -->
	<div class="row order-info-user">
		<div class="col-md-6">
			<div class="card p-3">
				<h5>
					<i class="fa fa-map-marker-alt"></i>
					THÔNG TIN NHẬN HÀNG
				</h5>
				<div class="order-info-customer">
					<span>Người nhận:</span>
					<p>@Model.Order.NameUser - 0866959003</p>
				</div>
				@* <p><strong>Nhận tại:</strong> @Model.Order.Address</p> *@
				@* <p><strong>Nhận lúc:</strong> Trước @Model.Order.ExpectedDelivery.ToString("HH:mm - dd/MM/yyyy")</p> *@
			</div>
		</div>

		<div class="col-md-6 order-info-payment">
			<div class="card p-3">
				@{
					var paymentMethod = Model.Order.PaymentMethod;
					var iconClass = "fas fa-exclamation-circle"; // Mặc định nếu không xác định
					var methodName = "Không xác định";

					switch (paymentMethod)
					{
						case 0:
							iconClass = "fas fa-university ";
							methodName = "Chuyển khoản ngân hàng";
							break;
						case 1:
							iconClass = "fas fa-credit-card";
							methodName = "Thẻ tín dụng";
							break;
						case 2:
							iconClass = "fab fa-paypal";
							methodName = "PayPal";
							break;
						case 3:
							iconClass = "fas fa-money-bill-wave";
							methodName = "Thanh toán khi nhận hàng";
							break;
					}
				}
				<h5><i class="@iconClass"></i> HÌNH THỨC THANH TOÁN</h5>
				<p>@methodName</p>
			</div>
		</div>

	</div>

	<!-- Danh sách sản phẩm -->
	<div class="card mt-2">
		<div class="card-header">
			<h5 class="heading-title">
				<i class="fas fa-shopping-bag"></i>
				THÔNG TIN SẢN PHẨM
			</h5>
		</div>
		<div class="">
			@foreach (var item in Model.OrderListDetail)
			{
				var product = Model.ProductList.FirstOrDefault(p => p.Id == item.ProductId);
				if (product != null)
				{
					<div class="product-item">
						<div class="product-image">
							<img src="@product.Image" class="" alt="@product.Name">
						</div>
						<div class="product-info">
							<h6>@product.Name</h6>
							<p class="text-success">Bảo hành: Còn BH đến @product.Price.ToString("dd/MM/yyyy")</p>
							<p class="text-muted">Số lượng: @item.Quantity</p>
						</div>
						<div class="product-price">
							<p class="">@((item.UnitPrice - item.DiscountPrice).ToString("#,##0"))₫</p>
							<p style="text-decoration: line-through; font-size: 13px;" class="">@item.UnitPrice.ToString("#,##0")₫</p>
						</div>
					</div>

				}
			}

			<div class="order-price-info">
				<p class="order-price">
					<span>Tạm tính:</span>
					<span>@Model.Order.TotalAmount.ToString("#,##0") ₫</span>
				</p>
				<p class="order-price">
					<span class="text-bold">Cần thanh toán</span>
					<span>@Model.Order.TotalAmount.ToString("#,##0") ₫</span>
				</p>
			</div>

			<div class="text-center mb-4">
				<a href="@Url.Action("OrderList", "Order")" class="btn-back">
				 VỀ TRANG DANH SÁCH ĐƠN HÀNG
				</a>
			</div>
		</div>
	</div>
</div>
